# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl
*.jfm

# Visual Studio Code files
.vscode/
*.code-workspace

# Rider
.idea/

# User-specific files
*.rsuser
*.dtbuild.dtproj.user

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Fichiers exécutables et packages
*.exe
*.dll
*.pdb
*.nupkg
*.snupkg

# Fichiers de configuration spécifiques à l'environnement
appsettings.Development.json
appsettings.Production.json
*.ini

# Cache et fichiers temporaires
[Tt]emp/
.DS_Store
Thumbs.db

# Exclure les fichiers logs sensibles
*.log
*.log.*

# Exclure les fichiers de configuration contenant potentiellement des secrets
*.env
.env.*
*.secret
secrets.json
config.json
credentials.json

# Exclure les fichiers API et tokens
*.pem
*.key
*.crt
*.pfx
*.cer
*.der
*.cert
*.csr
*.ovpn
*.enc
*.p12

# Exclure les fichiers avec identifiants ou accès
id_rsa
id_rsa.pub
known_hosts
